# Version control
.git
.github
.gitignore

# Node.js dependencies
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Build artifacts
dist
build

# Test files
coverage
tmp
__tests__
*.test.js
*.spec.js

# Development files
.vscode
.editorconfig
.eslintrc
.prettierrc
*.md
!README.md
.env
.env.*

# Misc
.DS_Store
*.log 